@font-face{
    font-family: jpx-j;
    src: url('../assets/fonts/santana/Santana.ttf');
}

@font-face{
    font-family: jpx-px;
    src: url('../assets/fonts/supertext/ST02R.TTF');
}

 html,body{
     padding            : 0;
     margin             : 0;
     background-color   : #444A4F;
     font-family        : 'Ropa Sans',Sans;
     font-size          : 1.05em;
 }

 a
 {
     text-decoration    : none;
     color              : #FFD77E;
 }
 a:hover
 {
     text-decoration    : none;
     color              : #FFEED0;
 }

 h1:first-child
 {
     margin-top         : 0;
     padding-top        : 10px;
 }

 button
 {
     font-family        : inherit;
     font-size          : 1em;
     background-color   : #222222;
     color              : white;
     padding            : 5px;
     border-style       : none;
 }

 button:hover
 {
     background-color   : #292B35;
 }

 .jpx-logo
 {
     display            : inline-block;
     padding            : 5px;
 }

 #jpx-main
 {
     margin             : auto;
     margin-top         : 80px;
     width              : 900px;
     background-color   : #222222;/*#5588BB;*/
     color              : white;
     border-style       : solid;
     border-color       : #222222;
     padding            : 10px;
     padding-bottom     : 0;
     margin-bottom      : 50px;
 }

 #jpx-header
 {
     padding-bottom     : 0;
 }

 #jpx-header,
 #jpx-footer
 {
     background-color   : #222222;
 }

 #jpx-body
 {
     padding            : 20px;
     padding-bottom     : 10px;
     box-sizing         : border-box;
     background-color   : #28709d;
 }

 #jpx-footer
 {
     text-align         : center;
     padding            : 10px;
     box-sizing         : border-box;
 }


 nav
 {
     text-align         : center;
 }
 nav ul
 {
     list-style-type    : none;
     padding            : 0;
 }
  nav ul li
  {
      width             : 150px;
      display           : inline-block;
  }
  nav ul li a
  {
      display           : inline-block;
      width             : 100%;
      box-sizing        : border-box;
      padding           : 5px;
      color             : white;
      text-decoration   : none;
  }
  nav ul li a:hover,
  nav ul li a.active
  {
      color             : white;
      background-color  : #28709d;
  }
