.md-code-snippet
{
    background-color            : #444444;
    padding                     : 5px;
}

.md-code-snippet .md-header
{

    color                       : #CCCCCC;
    padding                     : 5px;
    padding-left                : 40px;
}

.md-code-snippet pre.prettyprint
{
    margin-top                  : 0px;
    margin-bottom               : 0;
}

pre.prettyprint
{
    border                      : 0px solid #AAAAAA;
}

.prettyprint
{
    background                  : #444444;
    font-family                 : 'Droid Sans Mono';
    font-size                   : 0.8em;
}

.pln
{
    color                       : #BBBBBB;
}

.pun
{
    color                       : #4488BB;
}

.typ
{
    color                       : #9966DD;/*#8833BB;*/
}

.lit
{
    color                       : #BB7744;
}

.kwd
{
    color                       : #77AA55;
}

.str
{
    color                       : #9F8555;
}

/**COMMENTS*/
.com
{
    display                     : inline-block;
    color                       : #22AA55;
}

.dec
{
    color                       : #5599FF;
}



li.L0, li.L1, li.L2, li.L3, li.L4, li.L5, li.L6, li.L7, li.L8, li.L9,
li.L1, li.L3, li.L5, li.L7, li.L9
{
    background-color            : #222222;
    color                       : #CCCCCC;
}
